<html>
<head>
    <title>Cameo</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="row">
        <div class="small-12">
            <h3>Cameo</h3><br />
            <div id="cameo"></div>
        </div>
    </div>

    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/cameo.js"></script>
    <script type="text/javascript">
        cameo(document.getElementById('cameo'), {
            tag: 'galaisen'
        });
    </script>
</body>
</html>